controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    servo_controller:
      type: position_controllers/JointGroupPositionController

servo_controller:
  ros__parameters:
    joints:
      - servo_horn_joint
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity
