controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    hand_controller:
      type: position_controllers/JointGroupPositionController

hand_controller:
  ros__parameters:
    joints:
      - base_rotate_joint
      - forearm_base_joint
      - servo_horn_joint
      - sg90_arm_thumb_joint
      - sg90_arm_index_joint
      - sg90_arm_middle_joint
      - sg90_arm_ring_joint
      - sg90_arm_pinky_joint
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity

    state_publish_rate: 50.0
    action_monitor_rate: 20.0

    gains:
      forearm_base_joint:
        p: 5000.0      # Gain proportionnel TRÈS élevé
        i: 100.0       # Gain intégral
        d: 50.0        # Gain dérivé
        i_clamp: 100.0 # Limite l'intégrale
      
      base_rotate_joint:
        p: 2000.0
        i: 50.0
        d: 20.0
        i_clamp: 50.0
      
      servo_horn_joint:
        p: 3000.0
        i: 80.0
        d: 30.0
        i_clamp: 80.0
      
      sg90_arm_thumb_joint:
        p: 1000.0
        i: 20.0
        d: 10.0
      
      sg90_arm_index_joint:
        p: 1000.0
        i: 20.0
        d: 10.0
      
      sg90_arm_middle_joint:
        p: 1000.0
        i: 20.0
        d: 10.0
      
      sg90_arm_ring_joint:
        p: 1000.0
        i: 20.0
        d: 10.0
      
      sg90_arm_pinky_joint:
        p: 1000.0
        i: 20.0
        d: 10.0
