<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="hand_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="base_rotate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_rotate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="forearm_base_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['forearm_base_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="servo_horn_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo_horn_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="servo_horn_2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['servo_horn_2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sg90_arm_index_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sg90_arm_index_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sg90_arm_middle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sg90_arm_middle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sg90_arm_ring_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sg90_arm_ring_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sg90_arm_pinky_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sg90_arm_pinky_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="sg90_arm_thumb_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['sg90_arm_thumb_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
